<h2>Carrito:</h2>
<hr />
<table class="table table-striped">
  <thead>
    <td><strong>Producto</strong></td>
    <td><strong>Cantidad</strong></td>
    <td></td>
  </thead>
  {{#each cart.products}}
    <tr>
      <td>{{this.product.title}}</td>
      <td>{{this.quantity}}</td>
      {{!-- <td><button class="btn btn-danger" onclick="deleteProduct(`{{this._id}}`)">Eliminar del carrito</button></td>  --}}
    </tr>
  {{/each}}
</table>