<h1>Login</h1>

<form action="/session/login" method="post">
  Email: <input type="text" name="email"><br>
  Password: <input type="text" name="password"><br>
  <br>

  <input type="submit" value="Login">
</form>

<a href="/session/github">Ingresar con GitHub</a>
<br>
<a href="/session/register">Registrate</a>

