<h1>Registrate</h1>

<form action="/api/session/register" method="post">
  Nombre: <input type="text" name="first_name"><br>
  Apellido: <input type="text" name="last_name"><br>
  Edad: <input type="text" name="age"><br>
  Email: <input type="text" name="email"><br>
  Password: <input type="text" name="password"><br>
  <br>

  <input type="submit" value="Registrarme">
  <a href="/api/session/login">Login</a>
</form>